{% extends "partials/base.html" %} {% block body %}
<div class="container d-flex flex-column">

    <h1 class="text-info text-center">Rideshares</h1>
    
    <div class="container-fluid d-flex justify-content-evenly align-items-center w-100">
        
    
        <form
            action="/process"
            class="d-flex flex-column flex-1 col-md-5 gap-3 bg-dark text-light"
            method="POST"
        >
            <h2>Register</h2>
            {% with messages = get_flashed_messages(category_filter="register") %}
            {% if messages %}
            <div class="alert alert-danger p-3">
                {% for message in messages %}
                <p>{{message}}</p>
    
                {% endfor %}
            </div>
            {% endif %} {% endwith%}
            <input type="hidden" name="which_form" value="registration" />
            <div class="form-group">
                <label for="first_name" class="form-label">First Name</label>
                <input name="first_name" type="text" class="form-control bg-transparent text-info" />
            </div>
            <div class="form-group">
                <label for="last_name" class="form-label">Last Name</label>
                <input name="last_name" type="text" class="form-control bg-transparent text-info" />
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input name="email" type="text" class="form-control bg-transparent text-info" />
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="password" class="form-control bg-transparent text-info" />
            </div>
            <div class="form-group">
                <label for="confirm" class="form-label">Confirm Password</label>
                <input name="confirm" type="text" class="form-control bg-transparent text-info" />
            </div>
            <div class="form-group">
                <button class="btn btn-info">Register</button>
            </div>
        </form>
        <form
            action="/process"
            method="POST"
            class="d-flex flex-column col-md-3 gap-3 bg-dark text-light align-items-center"
        >
            <h2>Login</h2>
            {% with messages = get_flashed_messages(category_filter="login") %} {%
            if messages %}
            <div class="alert alert-danger p-3">
                {% for message in messages %}
                <p>{{message}}</p>
    
                {% endfor %}
            </div>
            {% endif %} {% endwith%}
            <input type="hidden" name="which_form" value="login" />
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input name="email" type="text" class="form-control bg-transparent text-info" />
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="text" class="form-control bg-transparent text-info" />
            </div>
            <div class="form-group">
                <button class="btn btn-info">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
