{% extends "partials/base.html" %} {% block body %}
<div class="container p-3 w-100">
    <div class="w-100 border border-dark p-3 text-light">
        <h1 class="alt-text-color mb-5">Ready for your trip to the post office?</h1>
        <p>Who's driving?: <span class="alt-text-color">{{ride.driver.first_name}}</span></p>
        <p>Who is coming along? <span class="alt-text-color">{{ride.rider.first_name}}</span></p>
        <p>Date: {{ride.pickup_date.strftime("%B %d")}}</p>
        <p>Pickup location: <span class="alt-text-color">{{ride.pickup_location}}</span></p>
        <p class="d-flex gap-2 flex-wrap">Details: <span class="alt-text-color text-wrap w-100">{{ride.details}}</span></p>
        <div>
            <a class="alt-text-color text-decoration-none" href="/rides/edit/{{ride.id}}">Edit</a>
            <a class="alt-text-color text-decoration-none" href="/rides/delete/{{ride.id}}">Delete</a>
        </div>
    </div>
    <hr />
    <h3>Ride Messages:</h3>
    <div
        class="p-4 d-flex flex-column gap-4 align-items-around bg-dark text-light"
    >
    <form action="/messages" method="post" class="message-form">
        <div class="form-group">
            <input type="hidden" name="users_id" value="{{logged_in.id}}" />
            <input type="hidden" name="rides_id" value="{{ride.id}}" />
            <input name="content" type="text" class="form-control bg-transparent" />
        </div>
        <button class="btn form-button d-flex justify-content-center align-items-center">Send</button>
    </form>
        {% for message in ride_messages %} {% if message.sender.id ==
        logged_in.id %}
        <p class="">You: {{ message.content}}</p>
        {% else %}
        <p>{{message.sender.first_name}}: {{message.content}}</p>
        {% endif %} {% endfor %}
        
    </div>
</div>

{% endblock %}
