<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rideshares</title>
        {{bootstrap.load_css()}} {% from 'bootstrap4/nav.html' import
        render_nav_item %}
    </head>
    <body class="bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
            <img class="navbar-brand rounded-circle m-3" height="100px" width="100px" src="{{ url_for('static', filename='images/logo.png')}}"></img>
            <div class="navbar-nav mr-auto text-light">
                <!-- prettier-ignore -->
                {
                    {{ render_nav_item('dashboard', 'Home') }}
                    {{ render_nav_item('create_ride_request', 'Request a ride') }}
                    {{ render_nav_item('logout', 'Logout') }}
                }
            </div>
        </nav>
        {% block body%}{% endblock %}
    </body>
</html>
